{
  "id": "{{ id }}",
  "username": "{{ username }}",
  "enabled": true,
  "totp": false,
  "emailVerified": true,
  "firstName": "{{ username }}",
  "lastName": "Lab-User",
  "email": "{{ username }}@example.com",
  "disableableCredentialTypes": [],
  "requiredActions": [],
  "federatedIdentities": [
    {
      "identityProvider": "openshift-v4",
      "userId": "{{ id }}",
      "userName": "{{ username }}"
    }
  ],
  "notBefore": 0,
  "access": {
    "manageGroupMembership": true,
    "view": true,
    "mapRoles": true,
    "impersonate": true,
    "manage": true
  }
}
